.logo {
  text-align: center;
  margin-top:3.5%;
}

.fb-login {
  margin-top: 7%;
  max-width: 75%;
  margin-left: 10% !important;
}

.registration-link {
  max-width: 75%;
  margin-left: 10% !important;
  margin-top: 5%;
}

.skip {
  margin-top: 5%;
  margin-right: 10% !important;
}

html {
  overflow:hidden;
}