.map-position {
  /*display: block;*/
  width: 111%;
  min-width: 200px;
  height: 235px;
  margin-top:-16px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:-16px;
  /*margin-left: -8px !important;
  margin-top: -8px !important;*/
}

.run-listing {
  overflow:scroll;
}

.info-generic {
  float: right;
  padding-right: 3%;
}

.emphasis {
  font-size: 150%;
}