/*My Runs CSS*/

.analytics {
  /*display: block;*/
  min-width: 200px;
  height: 235px;
  /*margin-left: -8px !important;
  margin-top: -8px !important;*/
}


.run-listing {
  overflow:scroll;
}

.containing-element .ui-slider-switch { 
  width: 100%; 
}